<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from ld-wt73.template-help.com/wt_62269/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Sep 2022 13:13:01 GMT -->
<head>
    <!-- Site Title-->
    <title> Mojahco- @ViewData["Title"]</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="~/js/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,300italic%7CMontserrat:400,700">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }

 
    </style>
</head>




<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="~/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
    </div>

    <div class="page">
        <header class="page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar_transparent rd-navbar_boxed" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="35px" data-xl-stick-up-offset="35px" data-xxl-stick-up-offset="35px" data-body-class="rd-navbar-absolute">
                    <!-- RD Navbar Top Panel-->
                    <div class="rd-navbar-top-panel">
                        <div class="rd-navbar-top-panel__main">
                            <div class="rd-navbar-top-panel__toggle rd-navbar-fixed__element-1 rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-top-panel__main"><span></span></div>
                            <div class="rd-navbar-top-panel__content">
                                <div class="rd-navbar-top-panel__left">
                                    <ul class="rd-navbar-items-list">
                                        <li>
                                            <div class="unit flex-row align-items-center unit-spacing-xs">
                                                <div class="unit-left"><span class="icon icon-sm icon-primary linear-icon-map-marker"></span></div>
                                                <div class="unit-body">
                                                    <p><a href="#">Address: Uae - Dubai</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit flex-row align-items-center unit-spacing-xs">
                                                <div class="unit-left"><span class="icon icon-sm icon-primary linear-icon-telephone"></span></div>
                                                <div class="unit-body">
                                                    <ul class="list-semicolon">
                                                        <li><a href="tel:#">+97145792111</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="rd-navbar-top-panel__right">
                                    <ul class="list-inline-xxs">
                                        <li><a class="icon icon-xxs icon-gray-darker fa fa-facebook" href="#"></a></li>
                                        <li><a class="icon icon-xxs icon-gray-darker fa fa-twitter" href="#"></a></li>
                                        <li><a class="icon icon-xxs icon-gray-darker fa fa-google-plus" href="#"></a></li>
                                        <li><a class="icon icon-xxs icon-gray-darker fa fa-vimeo" href="#"></a></li>
                                        <li><a class="icon icon-xxs icon-gray-darker fa fa-youtube" href="#"></a></li>
                                        <li><a class="icon icon-xxs icon-gray-darker fa fa-pinterest-p" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-inner rd-navbar-search-wrap">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel rd-navbar-search-lg_collapsable">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="index.html">
                                    <!--logo-->
                                    @*<img src="~/images/photo_2022-09-11_17-11-06-removebg-preview.png" alt="" width="300" height="30" />*@

                                    <img src="~/images/mojah_final_logo.png" style="color:#23346B;" alt="" width="300" height="30" />
                                </a>
                                     </div>
                        </div>
                        <!-- RD Navbar Nav-->
                        <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                            <!-- RD Navbar Nav-->
                            <div class="rd-navbar__element rd-navbar-search_collapsable">
                                <button class="rd-navbar-search__toggle rd-navbar-fixed--hidden" data-rd-navbar-toggle=".rd-navbar-search-wrap"></button>
                            </div>
                            <!-- RD Search-->
                            <div class="rd-navbar-search rd-navbar-search_toggled rd-navbar-search_not-collapsable">
                                <form class="rd-search" action="https://ld-wt73.template-help.com/wt_62269/search-results.html" method="GET" data-search-live="rd-search-results-live">
                                    <div class="form-wrap">
                                        <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <label class="form-label" for="rd-navbar-search-form-input">Enter keyword</label>
                                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search__submit" type="submit"></button>
                                </form>
                                <div class="rd-navbar-fixed--hidden">
                                    <button class="rd-navbar-search__toggle" data-custom-toggle=".rd-navbar-search-wrap" data-custom-toggle-disable-on-blur="true"></button>
                                </div>
                            </div>
                            <div class="rd-navbar-search_collapsable">
                                <ul class="rd-navbar-nav">
                                    <li class="active">
                                        <a href="@Url.Action("index","home")">Home</a>
                                        @*<ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href="#">Headers</a>
                                                <ul class="rd-navbar-dropdown">
                                                    <li><a href="header-default.html">Header Default</a></li>
                                                    <li><a href="header-transparent.html">Header Transparent</a></li>
                                                    <li><a href="header-minimal.html">Header Minimal</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Footers</a>
                                                <ul class="rd-navbar-dropdown">
                                                    <li><a href="footer-default.html">Footer Default</a></li>
                                                    <li><a href="footer-minimal.html">Footer Minimal</a></li>
                                                    <li><a href="footer-modern.html">Footer Modern</a></li>
                                                </ul>
                                            </li>
                                        </ul>*@

                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="@Url.Action("About","home")">Who We Are</a></li>

                                            <li><a href="@Url.Action("CeoMessage","home")">Manage Director Message</a></li>
                                            <li><a href="@Url.Action("OurTeam","home")">Our Teams</a></li>
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("Services","home")">Services</a>
                                        @*<ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href="@Url.Action("SingleService","home")">Single Service</a>
                                            </li>
                                        </ul>*@
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Project","home")">Projects</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href="@Url.Action("Project","home")">Project Category</a>
                                            </li>
                                            @*<li>
                            <a href="single-project.html">Single Project</a>
                        </li>*@s
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("ContactUs","home")">Contacts</a>
                                   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()


        <!--here change footer color -->
        <footer class="footer-corporate bg-gray-darker">
            <!-- bg-color -->
            <div class="container">
                <div class="footer-corporate__inner">
                    <p class="rights"><span>Construction</span><span>&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved</p>
                    <ul class="list-inline-xxs">
                        <li><a class="icon icon-xxs icon-gray-darker fa fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-xxs icon-gray-darker fa fa-twitter" href="#"></a></li>
                        <li><a class="icon icon-xxs icon-gray-darker fa fa-google-plus" href="#"></a></li>
                        <li><a class="icon icon-xxs icon-gray-darker fa fa-vimeo" href="#"></a></li>
                        <li><a class="icon icon-xxs icon-gray-darker fa fa-youtube" href="#"></a></li>
                        <li><a class="icon icon-xxs icon-gray-darker fa fa-pinterest" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </footer>


    </div>



    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    <!-- coded by Ragnar-->
    <!--LIVEDEMO_00 -->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7078796-5']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();



        //for owl carousal
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            dots: false,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
